<!DOCTYPE html>
<html>
<head>
	<title>NANA</title>

</head>
<body>
⚪︎自己紹介⚪︎
<p>私はアイデアが自信があって、もの作りが好きですが、クリエイティブで働いた実績はありません。<br>
テレアポの方では表彰状をいただいたりランキング１位になったりはしていました。<br>
とにかく強みは努力です！！</p>
<p>２０１６年１１月にコピーライター養成講座にいき、基礎クラスは修了いたしまた。
金の鉛筆は一本だけ受賞いたしまた。４５人中で１０位以内にはいってもらえました。<br></p>
<p>２０１５年６月にはABCクッキングでパンのライセンスを取得致しました。<br>
今はダンスに夢中で毎日通っています。<br>
SNSはすべて非公開にしてますのでダンスブログを作ったものを載せます<br>
企画系から興味があります。<br></p>
どんどん吸収していきたいので宜しくお願い致します。
</br>

	デモサイト<br>
	<%= link_to "ダンスチームのサイト", "https://infoblog08.herokuapp.com/" %><br>

	ページリンクの中は適当な文で完全ではありません<br>
<br>
	掲示板はRuby on Railsで作ってます
<br>
	制作期間　約一週間
<br>
	github　heroku
<br>
<br>
<br>
	<%= link_to "ダンスブログ", "http://ameblo.jp/nananohouse" %>
	<br>
	<!-- <img src="../../assets/images/trs.jpg"> -->
	<%= image_tag '/trs.jpg' %>

</html>