<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    
  </head>
<body>



<div class="sample4Wrap">
	<div class="sample4">Lorem ipsum dolor sit amet.</div>
</div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>




</body>
</html>