<!DOCTYPE html>
<html>
<head>
	<title>TAIKI</title>
</head>
<body>




<iframe width="560" height="315" src="https://www.youtube.com/embed/4g28It3B6Pk" frameborder="0" allowfullscreen></iframe>
<br>
<a href="http://taiki-terminal-archives.blog.jp/">TAIKI公式ブログ</a>
<ul>
<li>ダンスを始めたきっかけ</li>
<li>モチベーション</li>
<li>ダンスを始めた頃にぶちあたった壁</li>
<li>それをクリアする為にした事</li>
<li>ずばりダンスとは！</li>
<li>お気に入りのもの</li>
<li>これからダンスを始める方に</li>
</ul>



</body>
</html>