/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.embeded{
	*{
		
		color: pink;
	}
	.loginlink{
		color: orange;
		text-decoration: none;

	}
	h2{
		color: pink;
	}

}

* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
	width: 100%
}
#intro{
	position: relative;
	background:url(t2.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
#second{
	position: relative;
	background:url(t2.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
#third{
	position: relative;
	background:url(t1.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.check {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background: red;
}

.koushin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 300px
}

.right {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.box_right {
    float:right;
    width: 150px;
}

.box_left {
    float:left;
    width: 150px;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

section{
	width: 30%;
	margin: 50px auto;
}

.text-box{
	float: left;
	width: 50%;
	box-sizing: border-box;
}


.text{
	list-style: none;
	margin: 5px;
	height: 20px;
}

